* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f5f7fb;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background: #3f72af;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile {
    text-align: center;
}

.profile .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h3 {
    font-size: 18px;
}

.profile p {
    font-size: 14px;
    opacity: 0.9;
}

.nav-item {
    width: 100%;
    background: #3f72af;
    border: none;
    color: white;
    padding: 12px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-item:hover {
    background:#3f72af
}


.main {
    flex: 1;
    padding: 40px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 330px;
    padding: 10px 18px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
}


.main h1 {
    margin: 25px 0;
}


.content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 25px;
}

.contents {
    display: grid;
    grid-template-columns: 100% ;
    gap: 35px;
    min-height: 75vh;
}

.todo-section {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#addTaskBtn {
    background: #3f72af;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#addTaskBtn:hover {
    background: #3f72af
}

.task-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.07);
    margin-bottom: 12px;
}

.task-card h3 {
    font-size: 18px;
    margin-bottom: 4px;
}

.task-card p {
    font-size: 14px;
    color: #555;
}


.status-section {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.charts {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.chart {
    text-align: center;
    width: 30%;
    padding: 10px;
    background: #f9fafc;
    border-radius: 12px;
}

.chart h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.chart p {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}


#completedList .task-card {
    background: #e7ffe7;
    border-left: 5px solid #2ecc71;
}


.topbar {
    width: 100%;
    background: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 10;
}


.search {
    width: 320px;
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    
}

.search:focus {
    border-color: #3f72af;
    box-shadow: 0 0 6px rgba(63,114,175,0.3);
}


.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons .icon {
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.header-icons .icon:hover {
    transform: scale(1.1);
    color: #3f72af;
}


.header-icons .date {
    font-size: 15px;
    color: #555;
}

.nav-item{
    display: block;
    background: #3f72af;
    border: none;
    color: white;
    padding: 12px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none; 
}
.nav-item:hover{
    background: #35608d;
}

.cont{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
      
}
.vit{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}







.create-category-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.create-category-container label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.category-input {
    width: 50%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #c7c7c7;
    font-size: 14px;
    margin-bottom: 20px;
}


.btn-container {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}


.create-btn {
    background-color: #35608d;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.create-btn:hover {
    background-color: #3f72af;
}


.cancel-btn {
    background-color: #fff;
    color: #35608d;
    border: 2px solid #35608d;
    padding: 8px 25px;
    border-radius: 6px;
}

/* Popup Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}


.popup-content {
    background: #fff;
    padding: 35px 40px;
    width: 450px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
    animation: showPopup .25s ease;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-content input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.save-btn {
    background: #3f72af;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.close-btn {
    background: white;
    color: #3f72af;
    border: 2px solid #3f72af;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}


@keyframes showPopup {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

#taskList {
    margin-top: 20px;
}

.task-item {
    background: #f8f9fc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
}